*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: kalameh;
}
body{
    height: 100vh;
    background:#070707;
}
.container{
    width: 33.4%;
    min-width: 500px;
    background-color: #fef4ff;
    padding: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}
.scores{
    margin-bottom: 30px;
    text-align: right;
}
.scores p{
    font-weight: 600;
    font-size: 1.7em;
    color: #070707;
    padding-bottom: 5px;
}
.weapons{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.weapons button{
    background-color: #8e24aa;
    color: #ececec;
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
.details{
    margin-top: 30px;
    text-align: center;
}
.scores,.details{
    font-family: kalameh;
    font-weight: 400;
    font-size: 15px;
}
#result{
    width: 180px;
    padding: 10px 0;
    margin: 30px auto;
    font-weight: 600;
    font-size: 1.4em;
    border-radius: 60px;
}
#user_choice{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.4em;
}
#comp_choice{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.4em;
}
span{
    font-weight: 600;
    color: #333;
}
.footer{
    width: 100%;
    background: #121215;
    position: fixed;
    border-top: 4px solid #ffcb0a;
    height: 56px;
    bottom: 0px;
  }
  .footer h3{
    font-size: 1.3em;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding-top: 8px;
  }